body {
    background-color:darkgrey;
}

header { 
    display: flex;
 margin-top: 0; 
  flex-direction: row;
  justify-content: space-evenly;
 
}
#scores {
   color: seagreen;
   font-size: x-large;
}

#timer {
    color: steelblue;
    justify-content: flex-end;
}

#quiz {
    text-align: center;
    color:blue;
    
}

#quiz-questions {
    display: none;
    flex-direction: column;
    width: 60px;
}

#time {
    text-align: right;
    font-size: x-large;
}
