
.high-score {
    color: seagreen;
}

.time {
    color: steelblue;
    justify-content: flex-end;
}

.welcome {
    display: center;
}

#quiz-questions {
    display: none;
    flex-direction: column;
}

